/*colocar charset*/

:root{
    --cor-um: #A258FA;
    --cor-dois: #694EDE;
    --cor-tres: #636FF5;
    --cor-quatro: #4E80DE;
    /*fontes*/
} 

*{
    /*configurar corretamente*/
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*verificar se algo esta faltando*/

body{
    min-height: 100%;
    background: linear-gradient(to bottom, #A258FA, #4e80ded0);
}

header{
    text-align: center;
    padding-top: 1%;
}

.link{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 1% 0px 1%;
}

main{
    max-width: 100%;
    min-height: 91.8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 6%;
    margin-right: 6%;
}

@media screen and (max-width: 768px){
    main{
        display: block;
        min-height: 100%;
    }
}

.apresentaçao{
    background-color: brown;
    display: flex;
    align-items: center;
    flex-direction:column ;
    width: 45%;
}

@media screen and (max-width: 768px){
    .apresentaçao{
        display: block;
        align-items: center;
        margin: auto;
        margin-top: 4%;
        width: 225px;
    }
}

.introducao{
    padding: 5% 0px;
    flex-direction: column;
    display: flex;                       /*essa distancia esta ok*/
    align-items: center;
    background-color: aqua;
}

.sobre{
    padding: 8% 2%;
    flex-direction: column;
    display: flex;                         /*essa distancia esta ok*/
    align-items: center;
    background-color: blueviolet;
}

@media screen and (max-width){
    .sobre{
        padding: 100px;
    }
}

.sobre .botao{
    margin: 10% 0px 0px 0px;
  /*essa distancia esta ok*/
}

.botao a{
    padding: 4px 20px;
    border: 2px solid black;
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 30px;
}

@media screen and (max-width: 367px){
    .botao a{
        padding: 4px 15px;
        border: 2px solid black;
        text-decoration: none;
        background-color: blue;
        color: white;
    }
    
}

img{
    border-radius: 10%;
    margin-bottom: 15%;
    box-shadow: var(--cor-quatro) 20px 20px 0px;
    border: 1px solid black;
    display: block;
}

@media screen and (max-width: 768px){
    img{
        width: 200px;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
        margin-bottom: 0;
    }

}

footer{
    bottom: 0px;
    text-align: end;
    margin-right: 20%;
}

@media screen and (max-width: 768px) {
    footer{
        margin-top: 6%;
    }
    
}